@page "/"

<PageTitle>Community Cable Internet Status</PageTitle>

<h1>Hello, South Fork!</h1>
<pre>
This website automatically tracks outages on Community Cable and displays the up and down times. 
The polling rate is one internet uptime check per minute. 

This website is not created by or associated with Community Cable, other than they are the ISP in question.
<b>This website was created because of The Great Outage of 2022 in South Fork!</b>
(I'll make it prettier later)
</pre>


<Data IncrementAmount="10" />